body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  box-sizing: border-box;
  overflow: hidden;
  overflow-x: hidden;
}

.login-container {
  background: #fff;
  padding: 3rem 2rem;
  border-radius: 16px;
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15);
  width: 90vw; /* Toma 90% del viewport */
  max-width: 580px; 
  text-align: center;
  box-sizing: border-box;
}


.login-container img.logo {
  width: 140px;
  margin-bottom: 2rem;
}

.login-container h2 {
  margin-bottom: 2rem;
  color: #000;
  font-size: 1.8rem;
}

.login-container input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.9rem 1rem;
  margin: 0 auto 1.2rem auto;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  color: #000;
}


.login-container input:focus {
  border-color: #190152;
  outline: none;
}

.login-container .main-btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: #190152;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
  margin-bottom: 1rem;
}

.login-container .main-btn:hover {
  background-color: #3e0d68;
}

.login-container p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  color: #000;
}

.login-container p span {
  color: #190152;
  cursor: pointer;
  font-weight: 600;
}

.login-container hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #ddd;
}

.google-btn {
  width: 100%;
  padding: 1rem;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  font-size: 1.05rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  transition: all 0.3s ease;
}

.google-btn img {
  width: 22px;
  height: 22px;
}

.google-btn:hover {
  background-color: #000;
  color: #fff;
}
